* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#navbar {
  position: absolute;
  background: #262262;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 2vw;
  padding-left: 2vw;
  transition: all 0.7s ease-in;
  z-index: 500;
}

#userdetails {
  position: absolute;
  right: 18%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#avat {
  display: flex;
  align-items: center;
}

#avatar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#avatar img {
  height: auto;
  width: 50px;
}
#username {
  padding: 0;
  margin: 0;
}
#username {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}
#logo {
}
#logo:hover {
  cursor: pointer;
}
#logo img {
  height: 3.375rem;
}

#hamburger {
  color: #ffffff;
}
#desktop {
  display: none;
}
#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 4em;
  right: 5%;
  margin-top: -45px;
  width: 2.2em;
  height: 40px;
  z-index: 500;
}

.hamburger div {
  position: relative;
  top: -6px;
  right: 5%;
  width: 2.6em;
  height: 6px;
  border-radius: 3px;
  background: #f37821;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #262262;
  top: -100%;
  left: 0%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 400;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.nav-wrapper nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}
.nav a {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
/**
Animations
**/
#toggle:checked + .hamburger {
  position: fixed;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -6px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -6px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
.down {
  color: white;
  display: none;
}
.caret {
  display: none;
}
#title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  background: #f37821;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 5%;
}
#dropDownCont {
  position: fixed;
  top: 80px;
  right: 0px;
  z-index: 100;
  background: #262262;
  width: auto;
  padding: 0px;
}
.profileDropdown {
  display: none;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.profileDropdown li {
  list-style: none;
  padding: 10px 24px;
}
.profileDropdown a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
.profileDropdown a:hover {
  color: #f37821;
}
.show {
  display: flex;
}
#sideNavCont {
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
}
.side-navcont {
  padding: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  display: none;
  background: #f8893a;
  padding-bottom: 20px;
}
.side-navcont li {
  padding: 10px;
  list-style: none;
  width: 100%;
  transition: all 0.5s ease-in;
}
.side-navcont li:hover {
  background: #f8c097;
  cursor: pointer;
}
.side-navcont a {
  text-decoration: none;
  color: #ffffff;
}

main {
  padding: 20px;
  overflow-x: hidden;
  padding-bottom: 400px;
}

.iconify {
  cursor: pointer;
}

main {
  padding: 20px;
  overflow-x: hidden;
  height: 500vh;
  padding-bottom: 100px;
}

#make {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  color: #f37821;
  position: absolute;
  top: 200px;
  left: 2vw;
}

#container {
  position: absolute;
  top: 270px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 5vw;
}

#container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 80px;
  height: 40px;
  background: #f37821;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  border: transparent;
}

#add {
  background: #e5e5e5;
  border-radius: 13.3333px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add span {
  width: 80px;
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13.3333px;
}
#description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #262262;
}

#description textarea {
  padding: 10px 20px;
}
#description textarea::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
  color: rgba(38, 34, 98, 0.6);
}
#uploadedJobs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  color: #f37821;
  position: absolute;
  top: 960px;
  left: 2vw;
}
#moreCompanies {
  overflow: hidden;
}
#moreCompanies .cardCont {
  display: flex;
  background: rgba(243, 120, 33, 0.4);
  padding: 50px 20px;
  gap: 50px;
  width: fit-content;
  position: absolute;
  top: 1000px;
  left: 5vw;
  overflow-x: hidden;
}
#moreCompanies .cardCont .card {
  background: #fafafa;
  box-shadow: 0px 5px 10px rgba(243, 120, 33, 0.2);
  border-radius: 9.59526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19.1905px;
  gap: 23.99px;
  width: 280px;
}
#moreCompanies .card .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
#moreCompanies .card .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #262262;
}
#moreCompanies .card .field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}
#moreCompanies .card .field .fieldname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  color: rgba(38, 34, 98, 0.8);
}
#moreCompanies .card .field .timeposted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 9.6px;
  color: #adadad;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 160%;
}
#moreCompanies .card .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(38, 34, 98, 0.8);
}
#moreCompanies .card .picture {
  width: 240px;
  height: 240px;
}

#saved {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #f37821;
  position: absolute;
  top: 1930px;
  left: 2vw;
}
#cardContain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 50px;
  animation: card 10s infinite;
  position: absolute;
  top: 2000px;
  left: 5vw;
  width: 300%;
  overflow: hidden;

  background: #f8c097;
  overflow: ;
}

#cards {
  height: 427px;
  width: 270px;
  background: #fafafa;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
  border-radius: 19.1905px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(243, 120, 33, 0.6);
  border-radius: 50%;
  height: 310px;
  width: 310px;
  position: absolute;
  top: -130px;
  left: -25px;
  padding-bottom: 41.81px;
}
#avatarContainer img {
  width: 120.24px;
  height: 121.31px;
}
#cards .bigTittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #262262;
  position: absolute;
  top: 220px;
}
#cards .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #262262;
  width: 200px;
  position: absolute;
  top: 270px;
  text-align: center;
}
#cards .desc span {
  color: #adadad;
}
#cards .buttons {
  width: auto;
  position: absolute;
  top: 350px;
  display: flex;
  gap: 15px;
}
#cards .buttons .save {
  width: 108px;
  height: 40px;
  background: #262262;
  border-radius: 9.59526px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.3524px;
  line-height: 150%;
  color: #ffffff;
}
#cards .buttons .hire-me {
  width: 108px;
  height: 40px;
  background: #f37821;
  border-radius: 9.59526px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.3524px;
  line-height: 150%;
  color: #ffffff;
}
aside {
  display: none;
}
.iconify {
  cursor: pointer;
}

@media all and (min-width: 375px) {
}
@media all and (min-width: 425px) {
  body {
    width: 100vw;
  }
  #brandbox {
    gap: 0px;
  }
  #navcta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
    right: 0;
  }
  #category {
    top: 0px;
  }
}
@media all and (min-width: 500px) {
  #userdetails {
    gap: 20px;
  }
  #username p {
    display: flex;
  }
  #category .title {
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
}
@media all and (min-width: 576px) {
  #navcta .register {
    display: flex;
  }
  #navcta .login {
    display: flex;
  }
}
@media al and (min-width: 600px) {
}
@media all and (min-width: 700px) {
}
@media (min-width: 768px) {
  body {
    height: auto;
  }

  #username {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
@media all and (min-width: 992px) {
  body {
    height: auto;
  }
  #navbar {
    position: fixed;
  }
  #navcta {
    display: none;
  }
  #brandname {
    left: 90px;
  }

  #desktop {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24%;
  }

  #desktop menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-bottom: 0;
  }
  #desktop menu li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px;
  }
  #desktop menu a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  #desktop a:hover {
    color: #f37821;
  }

  #userdetails {
    right: 5%;
  }
  #username {
    height: auto;
  }

  .hamburger {
    display: none;
  }
  .down {
    color: white;
    display: block;
  }

  #moreCompanies .cardCont {
    width: fit-content;
    gap: 50px;
  }

  #cardContain {
    width: fit-content;
  }
}
@media all and (min-width: 1200px) {
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
  }
  aside {
    width: 30vw;
  }
  #bigContainer span {
    width: 30vw;
  }
  #category {
    width: 600px;
  }
}
@media all and (min-width: 1400px) {
  #navbar {
    position: fixed;
  }
}

@media all and (min-width: 1600) {
  #navbar {
    position: fixed;
  }
}
